<div class="list">
    <ul class="table">
        <li class="list-head">
            <span>
              <label class="tick"></label>
             </span>
            <span title="序号">序号</span>
            <span title="新入职员工姓名">新入职员工姓名</span>
            <span title="申请入住日期">申请入住日期</span>
            <span title="申请入住地区">申请入住地区</span>
            <span title="申请入住宿舍">申请入住宿舍</span>
            <span title="申请入住原因">申请入住原因</span>
            <span title="住宿负责人">住宿负责人</span>
            <span title="操作">操作</span>
        </li>
        <li class="list-all"  ng-repeat="lists in applyLists" style="display: {{lists._delete?'none':'block'}};">
            <div class="list-text {{lists._selectList?'selectList':''}}"  ng-click="selectList(lists)" >
                <p>
                    <span class="tick {{lists._selectList?'select':''}}"></span>
                </p>
                <p>{{$index+1+num}}</p>
                <p>{{::lists.name}}</p>
                <p>{{::lists.stayDate}}</p>
                <p>{{::lists.area}}</p>
                <p>{{::lists.stayDormitory}}</p>
                <p>{{::lists.stayCause}}</p>
                <p>{{::lists.stayHead}}</p>
                <p ng-click="moreList(lists)">
                    <a href="javascript:void(0)" class="more">
                        <svg role="img" class="search2">
                            <use xlink:href="#search2"></use>
                        </svg>
                        查看详细
                    </a>
                </p>
            </div>
            <div class="can"  style="display: {{lists._moreList?'block':'none'}};" >
                <ul class="can-see">
                    <li>
                        <p class="see-head">
                            <span title="福利模块负责人">福利模块负责人</span>
                            <span title="审核状态">审核状态</span>
                            <span title="新员工确认入住">新员工确认入住</span>
                            <span title="备注">备注</span>
                        </p>
                        <p class="see-body">
                            <span>{{::lists.headAudit}}</span>
                            <span>{{::lists.checkStatus|cover}}</span>
                            <span>{{::lists.stay|cover}}</span>
                            <span>{{::lists.remark}}</span>
                        </p>
                    </li>
                </ul>
                <p class="pick" ng-click="moreList(lists)">收起></p>

            </div>
        </li>
      </ul>
    </div>
        <div class="module">
            <div class="see-module">
                <p class="see-type">体现类型</p>
                <p class="see-description"></p>
                <button class="btn" modclose>关闭</button>
            </div>
        </div>
        <footer class="footer">
            <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
        </footer>
    <div class="delete mod" ng-show="delShow">
        <div class="del-head">
            <h5>温馨提示</h5>
        </div>
        <div class="del-con">
            <p>确定要删除这条数据？</p>
            <div class="btn">
                <button ng-click="delFn()">确定</button>
                <button ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
<div id="modalbg" ng-show="delShow"></div>