<ul class="right-nav">
    <li data-title="list" ng-click="list()" ng-class="{'current-color':menuClass=='listMenu'}" ui-sref=".list[12]">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img" ><use xlink:href="#list"></use></svg></i>列表
        </a>
    </li>
    <li data-title="add" ng-click="add()" ng-class="{'current-color':menuClass=='addMenu'}" ui-sref=".add[12]">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img" ><use xlink:href="#add"></use></svg></i>添加
        </a>
    </li>
    <li ng-click="edit()" ng-class="{'current-color':menuClass=='editMenu','seeParent':idListd,'see':menuClass!='editMenu'}">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img" class="edit"><use xlink:href="#edit"></use></svg></i>编辑
        </a>
    </li>
    <li data-title="delete" ng-click="delete()" ng-class="{'current-color':menuClass=='deleteMenu','seeParent':idListd,'see':menuClass!='deleteMenu'}">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img"><use xlink:href="#delete"></use></svg></i>删除
        </a>
    </li>
    <li ng-click="audit()" ng-class="{'current-color':menuClass=='auditMenu','seeParent':idListd,'see':menuClass!='auditMenu'}">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img"><use xlink:href="#audit"></use></svg></i>综合资源部审核
        </a>
    </li>
    <li data-title="summary" ng-click="collect()" ng-class="{'current-color':menuClass=='collectMenu'}" ui-sref=".collect[12]">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img"><use xlink:href="#summary"></use></svg></i>汇总
        </a>
    </li>
</ul>




