<div class="add">
    <ul class="input-list">
        <li>
            <label>地区<i>*</i></label>
            <input  ng-model="appAdd.area" type="text">
        </li>
        <li>
            <label>项目组<i>*</i></label>
            <input  ng-model="appAdd.projectGroup" type="text">
        </li>
        <li>
            <label>宿舍地址<i>*</i></label>
            <input  ng-model="appAdd.address" type="text">
        </li>
         <li>
            <label>宿舍钥匙数量(把)<i>*</i></label>
            <input  ng-model="appAdd.keysNumber" type="number">
        </li>
         <li>
            <label>宿舍钥匙分配情况<i>*</i></label>
            <input  ng-model="appAdd.keysDistribution" type="text">
        </li>
         <li>
            <label>宿舍负责人<i>*</i></label>
            <input  ng-model="appAdd.head" type="text">
        </li>
         <li>
            <label>已入住床位(个)<i>*</i></label>
            <input  ng-model="appAdd.beeBerth" type="number">
        </li>
         <li>
            <label>闲置床位(个)<i>*</i></label>
            <input  ng-model="appAdd.idleBerth" type="number">
        </li>
         <li>
            <label>床上3件套(件)<i>*</i></label>
            <input  ng-model="appAdd.suit" type="number">
        </li>
         <li>
            <label>已领用数量(件)<i>*</i></label>
            <input  ng-model="appAdd.recipientsSuit" type="number">
        </li>
         <li>
            <label>闲置数量(件)<i>*</i></label>
            <input  ng-model="appAdd.idleSuit" type="number">
        </li>
         <li>
            <label>宿舍被褥数量(件)<i>*</i></label>
            <input  ng-model="appAdd.bedding" type="number">
        </li>
         <li>
            <label>已领用数量(件)<i>*</i></label>
            <input  ng-model="appAdd.recipientsBedding" type="number">
        </li>
         <li>
            <label>闲置数量(件)<i>*</i></label>
            <input  ng-model="appAdd.idleBedding" type="number">
        </li>
         <li>
            <label>宿舍床位数量(个)<i>*</i></label>
            <input  ng-model="appAdd.berth" type="number">
        </li>
         <li>
            <label>负责人联系方式<i></i></label>
            <input  ng-model="appAdd.headContact" type="text">
        </li>
         <li>
            <label>备注<i></i></label>
            <input  ng-model="appAdd.remark" type="text">
        </li>
    </ul>
    <p class="input-bottom">
        <button class="cancel" ng-click="infoAddCan()">取消</button>
        <button class="sure" ng-click="infoAddFun()">确定</button>
    </p>
</div>
<script type="text/javascript">
    // !function(){
    //     laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    // }();

</script>