<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul class="new-style">
                <li>
                    <span>姓名</span>
                    <div>
                        <select ng-model="data.name" ng-change="changSelect()">
                            <option ng-repeat="name in names" value="{{name}}">{{name}}</option>
                        </select>
                        <input type="text" ng-model="data.name">
                    </div>
                </li>
                <li>
                    <span>性别</span>
                    <div>
                        <select ng-model="data.gender">
                            <option value="NONE">无</option>
                            <option value="MAN">男</option>
                            <option value="WOMAN">女</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span>学历</span>
                    <div>
                        <input type="text" ng-model="data.education">
                    </div>
                </li>
                <li>
                    <span>专业</span>
                    <div>
                        <input type="text" ng-model="data.profession">
                    </div>
                </li>
                <li>
                    <span>入职时间</span>
                    <div>
                        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" ng-model="data.hiredate" class="hiredate">
                    </div>
                </li>
                <li>
                    <span>申请转正日期</span>
                    <div>
                        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" ng-model="data.regularDate" class="regularDate">
                    </div>
                </li>
                <li>
                    <span>员工编号</span>
                    <div>
                        <input type="text" ng-model="data.empNo">
                    </div>
                </li>
                <li>
                    <span>地区</span>
                    <div>
                        <select ng-model="data.area">
                            <option ng-repeat="area in areas" value="{{area.area}}">{{area.area}}</option>
                        </select>
                        <input type="text" ng-model="data.area">
                    </div>
                </li>
                <li>
                    <span>项目组/部门</span>
                    <div>
                        <select ng-model="data.projectGroup">
                            <option ng-repeat="projectGroup in projectGroups" value="{{projectGroup}}">{{projectGroup}}</option>
                        </select>
                        <input type="text" ng-model="data.projectGroup">
                    </div>
                </li>
                <li>
                    <span>岗位</span>
                    <div>
                        <select ng-model="data.post">
                            <option ng-repeat="post in posts" value="{{post.value}}">{{post.value}}</option>
                        </select>
                        <input type="text" ng-model="data.post">
                    </div>
                </li>
                <li>
                    <span>岗位层级</span>
                    <div>
                        <select ng-model="data.postHierarchy">
                            <option ng-repeat="postHierarchy in postHierarchys" value="{{postHierarchy.value}}">{{postHierarchy.value}}</option>
                        </select>
                        <input type="text" ng-model="data.postHierarchy">
                    </div>
                </li>
                <li>
                    <span>试用期月份</span>
                    <div>
                        <input type="text" ng-model="data.probationPeriod">
                    </div>
                </li>
                <li>
                    <span>工作年限</span>
                    <div>
                        <input type="text" ng-model="data.workingYear">
                    </div>
                </li>
                <li>
                    <span>入职以来月平考勤扣分量</span>
                    <div>
                        <input type="text" ng-model="data.monthAverageDeductMark">
                    </div>
                </li>
                <li>
                    <span>奖励分数</span>
                    <div>
                        <input type="text" ng-model="data.awardSoce">
                    </div>
                </li>
                <li>
                    <span>处罚分数</span>
                    <div>
                        <input type="text" ng-model="data.penaltyScore">
                    </div>
                </li>
                <li>
                    <span>确定事项是否确认</span>
                    <div>
                        <select ng-model="data.confirmEvent">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span>转正条件确认</span>
                    <div>
                        <select ng-model="data.posCriteriaConfirmed">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span>确认人</span>
                    <div>
                        <input type="text" ng-model="data.confirmPeople">
                    </div>
                </li>
                <li class="new-one marg">
                    <span>1.工作自述</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.jobReadme"></textarea>
                </li>
                <li class="new-one">
                    <span>2.工作总结</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.jobSummary"></textarea>
                </li>
                <li class="new-one">
                    <span>3.条件相关条件说明</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.criteriaAttention"></textarea>
                </li>
                <!-- <li class="new-one">
                    <span>4.转正条件确认</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.posCriteriaConfirmed"></textarea>
                </li> -->
                <li class="new-one">
                    <span>4.转正面谈信息</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.posFacialInfor"></textarea>
                </li>
                <li class="new-one">
                    <span>5.决策层</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.decisionLevel"></textarea>
                </li>
                <li class="new-one">
                    <span>6.规划模块</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.planModule"></textarea>
                </li>
                <li class="new-one">
                    <span>7.预算模块</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.budgetModule"></textarea>
                </li>
                <li class="new-one">
                    <span>8.总经办</span>
                </li>
                <li class="new-two">
                    <textarea placeholder="请在此区域内输入内容：" ng-model="data.gmOffice"></textarea>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <!-- <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span> -->
        <button ng-verify="{control:'myform'}" ng-click="empAddFun()">提交</button>
    </p>
</div>

<script type="text/javascript">

    !function(){
        laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();


</script>