<ul class="right-nav">
    <li data-title="list" ng-click="list()" ng-class="{'current-color':menuClass=='listMenu'}" ui-sref=".list[12]">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img" ><use xlink:href="#list"></use></svg></i>列表
        </a>
    </li>
    <li ng-click="edit()" ng-class="{'current-color':menuClass=='editMenu','seeParent':idListd}">
        <a href="javascript:void(0)">
            <i class="list-icon"><svg role="img" class="edit"><use xlink:href="#edit"></use></svg></i>编辑
        </a>
    </li>
</ul>