<div class="add">
    <ul class="input-list">
        <li>
            <label>是否归还钥匙<i>*</i></label>
            <select  ng-model="editDeparture.checkStatus" class="drop-down">
                <option value="" disabled>请选择</option>
                <option value="PASS">通过</option>
                <option value="NOTPASS">未通过</option>
            </select>
        </li>
    </ul>
    <p class="input-bottom">
        <button class="cancel" ng-click="departureAuditCan()">取消</button>
        <button class="sure" ng-click="departureAuditFun()">确定</button>
    </p>
</div>
<script type="text/javascript">
    // !function(){
    //     laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    // }();

</script>