<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='网站名称'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="webName" ng-show="checkedName=='网站名称'">
        <input type="text" ng-model="url" ng-show="checkedName=='网址'">
        <input type="text" ng-model="provinces" ng-show="checkedName=='省份'">
        <input type="text" ng-model="cities" ng-show="checkedName=='地市'">
        <a href="javascript:void(0)" ng-click="collect()"><img src="/images/search2.png"></a>
    </div>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span title="编号">编号</span>
            <span title="网址">网址</span>
            <span title="网站名称">网站名称</span>
            <span title="招投标类型">招投标类型</span>
            <span title="业务类型">业务类型</span>
            <span title="业务方向科目">业务方向科目</span>
            <span title="标书类型">标书类型</span>
            
            <span></span>
        </li>
        <li class="list-all" ng-repeat="lists in infoLists" style="display: {{lists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{lists._selectList?'selectList':''}}" ng-click="selectList(lists)">
                    <p mod title="{{$index+1+num}}">{{$index+1+num}}</p>
                    <p mod title="{{lists.biddingNumber}}">{{lists.biddingNumber}}</p>
                    <p mod title="{{lists.url}}">{{lists.url}}</p>
                    <p mod title="{{lists.webName}}">{{lists.webName}}</p>
                    <p mod title="{{lists.biddingType}}">{{lists.biddingType}}</p>
                    <p mod title="{{lists.businessType}}">{{lists.businessType}}</p>
                    <p mod title="{{lists.businessDirectionSubject}}">{{lists.businessDirectionSubject}}</p>
                    <p mod title="{{lists.tenderModule}}">{{lists.tenderModule}}</p>
                    
                    <p>
                        <a href="javascript:void(0)" class="more" ng-click="moreList(lists)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{lists._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span title="项目名称">项目名称</span>
                                <span title="报名开始时间">报名开始时间</span>
                                <span title="报名结束时间">报名结束时间</span>
                                <span title="投标时间">投标时间</span>
                                <span title="投标资格要求">投标资格要求</span>
                                <span title="省份">省份</span>
                                <span title="地市">地市</span>
                                <span title="账号">账号</span>
                                
                            </p>
                            <p class="see-children">
                                <span mod title="{{lists.projectName}}">{{lists.projectName}}</span>
                                <span mod title="{{lists.registrationStartTime}}">{{lists.registrationStartTime}}</span>
                                <span mod title="{{lists.registrationEndTime}}">{{lists.registrationEndTime}}</span>
                                <span mod title="{{lists.biddingTime}}">{{lists.biddingTime}}</span>
                                <span mod title="{{lists.biddingQualifications}}">{{lists.biddingQualifications}}</span>
                                <span mod title="{{lists.provinces}}">{{lists.provinces}}</span>
                                <span mod title="{{lists.cities}}">{{lists.cities}}</span>
                                <span mod title="{{lists.account}}">{{lists.account}}</span>
                                
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span title="密码">密码</span>
                                <span title="注册人">注册人</span>
                                <span title="注册信息">注册信息</span>
                                <span title="状态">状态</span>
                                <span title="购买标书时间">购买标书时间</span>
                                <span title="标书价格">标书价格</span>
                                <span title="购买标书要求">购买标书要求</span>
                                <span title="交保证金时间">交保证金时间</span>
                                
                            </p>
                            <p class="see-children">
                                <span mod title="{{lists.password}}">{{lists.password}}</span>
                                <span mod title="{{lists.registrant}}">{{lists.registrant}}</span>
                                <span mod title="{{lists.registrationInfo}}">{{lists.registrationInfo}}</span>
                                <span mod title="{{lists.status|cover}}">{{lists.status|cover}}</span>
                                <span mod title="{{lists.buyTenderTime}}">{{lists.buyTenderTime}}</span>
                                <span mod title="{{lists.price}}">{{lists.price}}</span>
                                <span mod title="{{lists.buyTenderRequirements}}">{{lists.buyTenderRequirements}}</span>
                                <span mod title="{{lists.marginTime}}">{{lists.marginTime}}</span>
                                
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span title="交保证金方式">交保证金方式</span>
                                <span title="保证金退回时间">保证金退回时间</span>
                                <span title="备注">备注</span>
                                <span title="年份">年份</span>
                                <span title="月份">月份</span>
                                <span title="保证金金额">保证金金额</span>
                                <span title="退回保证金金额">退回保证金金额</span>
                                <span title="竞争对手数量">竞争对手数量</span>



                            </p>
                            <p class="see-children">
                                <span mod title="{{lists.marginMethod}}">{{lists.marginMethod}}</span>
                                <span mod title="{{lists.backTimeDeposit}}">{{lists.backTimeDeposit}}</span>
                                <span mod title="{{lists.remark}}">{{lists.remark}}</span>
                                <span mod title="{{lists.year}}">{{lists.year}}</span>
                                <span mod title="{{lists.month}}">{{lists.month}}</span>
                                <span mod title="{{lists.marginPrice}}">{{lists.marginPrice}}</span>
                                <span mod title="{{lists.returnMarginPrice}}">{{lists.returnMarginPrice}}</span>
                                <span mod title="{{lists.contendNum}}">{{lists.contendNum}}</span>

                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span title="是否进行项目测算">是否进行项目测算</span>
                                <span title="项目测算是否通过">项目测算是否通过</span>
                                <span title="规模数量">规模数量</span>
                                <span title="是否转为商机">是否转为商机</span>
                                <span title="更新时间">更新时间</span>
                            </p>
                            <p class="see-children">
                                <span mod title="{{lists.projectEstimates|cover}}">{{lists.projectEstimates|cover}}</span>
                                <span mod title="{{lists.passProjectEstimates|cover}}">{{lists.passProjectEstimates|cover}}</span>
                                <span mod title="{{lists.scale}}">{{lists.scale}}</span>
                                <span mod title="{{lists.opportunity|cover}}">{{lists.opportunity|cover}}</span>
                                <span mod title="{{lists.updateTime}}">{{lists.updateTime}}</span>
                            </p>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>
<!-- <div ui-view="modal"></div> -->
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>




