<div class="content-tab list">
    <div class="search-big" style="display :{{ isView?'none':'block'}}">
        <select class="salc" ng-model="checkedName" ng-init="checkedName='标题'">
            <option ng-repeat="item in titles">{{item}}</option>
        </select>
        <input type="text" ng-model="title" ng-show="checkedName=='标题'">
        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image startTime" ng-model="startTime" ng-show="checkedName=='开始时间'">
        <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="add_image endTime" ng-model="endTime" ng-show="checkedName=='结束时间'">
        <a href="javascript:void(0)" ng-click="collect(getInfo)"><img src="/images/search2.png"></a>
    </div>
    <ul>
        <li class="getInfo">
            <label><em>获取信息</em></label>
            <select class="sele" ng-change="seeInfo(getInfo)" ng-model="getInfo">
                <option value="" disabled selected></option>
                <option value="ZGJW">中国警务招标网获取信息</option>
                <option value="ZGYD" >中国移动采购与招标网获取网址内的信息</option>
                <option value="ZYZF">中央政府采购网获取信息</option>
                <option value="GXB">工信部招标网获取信息</option>
                <option value="ZGDL">中国电力工程招标网获取信息</option>
            </select>
        </li>
    </ul>
    <ul class="table">
        <li class="list-head see-head">
            <span></span>
            <span>日期</span>
            <span>标题</span>
        </li>
        <li class="list-all see-all">
            <section>
                <div class="list-text see-text {{datas._selectList?'selectList':''}}"  ng-repeat="datas in caigouInfo" ng-click="selectList(datas)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{datas.date}}</p>
                    <p mod><a href={{datas.link}}>{{datas.title}}</a></p>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
    </footer>
</div>






