<ul class="list">
    <li>
        <a href="javascript:void(0)">
            <i class="list-icon">
                <svg role="img" class="selfperson">
                    <use xlink:href="#selfperson"></use>
                </svg>
            </i>
            <i class="list-text">个人中心</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <i class="list-icon">
                <svg role="img" class="index">
                    <use xlink:href="#index"></use>
                </svg>
            </i>
            <i class="list-text">系统首页</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="inactive">
            <i class="list-icon">
                <svg role="img" class="notice">
                    <use xlink:href="#notice"></use>
                </svg>
            </i>
            <i class="list-text">公告通知</i>
        </a>
        <ul style="display: none" class="inactive-line line-message">
            <li><a>个人消息<i class="unread"></i></a></li>
            <li><a>活动公告<i class="unread"></i></a></li>
            <li><a>综合资源部<i class="unread"></i></a></li>
            <li><a>运营商务部<i class="unread"></i></a></li>
            <li><a>研发部公告<i class="unread"></i></a></li>
            <li><a>请假公告<i class="unread"></i></a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)" class="inactive inactives" ng-click="listShow()">
            <i class="list-icon">
                <svg role="img" class="know">
                    <use xlink:href="#know"></use>
                </svg>
            </i>
            <i class="list-text">知此知彼</i>
        </a>
        <ul style="display: block" class="inactive-line" ng-show="listUl">
            <li ng-repeat="list in showsList">
                <a href="javascript:void (0)" class="inactive active inactives" ng-click="listUlShow()">{{list.item}}</a>
                <ul class="list-children bagl" style="display: block" ng-repeat="menuInfo in list.menuList" ng-show="listLi">
                    <li ng-click="navClass(menuInfo.msg)" ui-sref="_root.checkin.stayApply.list[12]">
                        <a href="javascript:void (0)">{{menuInfo.name1}}</a>
                    </li>
                    <li ng-click="navClass(menuInfo.msg)" ui-sref="_root.checkin.departureRequest.list[12]">
                        <a href="javascript:void (0)">{{menuInfo.name2}}</a>
                    </li>
                    <li ng-click="navClass(menuInfo.msg)" ui-sref="_root.checkin.daySummary.list[12]">
                        <a href="javascript:void (0)">{{menuInfo.name3}}</a>
                    </li>
                    <li ng-click="navClass(menuInfo.msg)" ui-sref="_root.checkin.infoManage.list[12]">
                        <a href="javascript:void (0)">{{menuInfo.name4}}</a>
                    </li>
                    <li ng-click="navClass(menuInfo.msg)" ui-sref="_root.checkin.setting.list[12]">
                        <a href="javascript:void (0)">{{menuInfo.name5}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)" class="inactive">
            <i class="list-icon">
                <svg role="img" class="archives">
                    <use xlink:href="#archives"></use>
                </svg>
            </i>
            <i class="list-text">档案库</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" class="inactive">
            <i class="list-icon">
                <svg role="img" class="archives">
                    <use xlink:href="#archives"></use>
                </svg>
            </i>
            <i class="list-text">物资管理</i>
        </a>
    </li>
</ul>